body {
    background: url("../img/background.png") fixed;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.autorzy {
    text-align: center;
}

.lokitka {
    font-family: 'Niconne', cursive;
    font-size: 35px;
}

.linia-odd {
    margin: 3rem;
}

.margin-gora {
  margin-top: 2rem;
}

.logo {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  .gora{
    margin-top: 1rem;
  }
  .margin-gora{
    margin-top: 0rem;
  }
  .obrazek{
    width: 400px !important;
    height: 300px !important;
  }
}
