body {
    background: url("../img/background.png") fixed;
    background-size: cover;
    padding-top: 6rem;
}

.lokitka {
    font-family: 'Niconne', cursive;
    font-size: 35px;
}

.contact_form ul {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
}

.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.contact_form li:first-child, .contact_form li:last-child {
    border-bottom: 3px solid #777;
}

.contact_form h2 {
    text-align: center;
}

.required_notification {
    display: inline;
    float: left;
    color: #777;
}

.contact_form * {
    padding: 5px;
}

.contact_form label {
    width: 150px;
    float: left;
}
.contact_form select {
    width: 200px;
}

.contact_form input {
    width: 200px;
    height: 20px;
}

.contact_form input[type="radio"] {
    width: 20px;
}

.contact_form textarea {
    width: 300px;
}

.contact_form button {
    margin-left: 150px;
}

.contact_form input, .contact_form textarea, .contact_form select, .contact_form button {
    border-radius: 20px;
    border: 1px solid #aaa;
}

button.submit:hover {
    opacity: .75;
    cursor: pointer;
}

button.submit:active {
    border: 1px solid #aaa;
}

input:required, textarea:required, select:required {
    height: auto;
}

.contact_form input, .contact_form textarea, .contact_form select {
    height: auto;
}

.contact_form input:required:valid, .contact_form textarea:required:valid, .contact_form select:focus:valid {
    box-shadow: 0 0 10px #33dd33;
}

.contact_form input:required:invalid, .contact_form textarea:required:invalid, .contact_form select:focus:invalid {
    box-shadow: 0 0 10px #dd3333;
}

.blog-footer {
    padding: 2.5rem 0;
    background-color: #343a40;
}

.mapa {
    width: 450px;
    height: 300px;
}

.margin-gora {
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .footer-napis {
        text-align: center;
    }
}
